body {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  background: #fbfff4;
}

/*********************  MENU NAV ******************************/

nav {
  background-color: #8bc34a;
  box-shadow: 5px 5px 8px #dcedc8;
}

.nav-item a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #3a6531;
  margin: 0 10px;
  transition: all 0.7s ease-in;
}

.nav-item a:hover {
  color: #795548;
  background-color: #dcedc8;
  border-radius: 5px;
}

.navigation-wrap .nav-item {
  padding: 5px 0;
}

.navbar-toggler {
  border: 2px solid #795548;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler i {
  color: #795548;
  font-size: 27px;
}

.navbar-nav {
  text-align: center;
}

.dropdown-menu {
  background-color: #fbfff4;
  border: none;
}

.logo1 {
  border-radius: 30%;
  max-height: 125px;
}

/* Footer  */
#footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #3a6531;
  text-align: center;
  background-color: #8bc34a;
}

/* scrolltop*/
.goto-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 90px;
  height: 90px;
}

/* Boton Whats app*/
.whatsapp-button {
  position: fixed;
  bottom: 40px;
  left: 20px;
  background-color: #25d366;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1ebc59;
}

.whatsapp-button img {
  width: 30px;
  height: 30px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .footer {
    position: relative;
    font-size: 14px;
  }

  .logo1 {
    max-height: 100px;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-toggler {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #3a6531;
  }

  .navbar-collapse {
    justify-content: center !important;
    margin-top: 10px;
  }

  .nav-item a {
    font-size: 16px;
  }

  .banner-section {
    height: 50vh;
    padding: 0 10px;
  }

  .sectionForm .containerForm {
    width: 100%;
    padding: 10px;
  }

  .sectionForm .containerForm .formRow {
    grid-template-columns: 1fr;
  }

  .sectionForm .containerForm .formRow .colForm {
    margin: 10px 0;
    padding: 0px 5px;
  }

  .tituloSeccion5 {
    font-size: 36px;
    padding: 15px 0;
  }

  .texto2 {
    font-size: 1rem;
    padding: 10px;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
  }

  .goto-top {
    width: 60px;
    height: 60px;
  }

  .whatsapp-button {
    width: 50px;
    height: 50px;
  }

  .whatsapp-button img {
    width: 20px;
    height: 20px;
  }
}
