body {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  background-color: #dcedc8;
}

/*********************  MENU NAV ******************************/

nav {
  background-color: #8bc34a;
  box-shadow: 5px 5px 8px #dcedc8;
}

.nav-item a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #3a6531;
  margin: 0 10px;
  transition: all 0.7s ease-in;
}

.nav-item a:hover {
  color: #795548;
  background-color: #dcedc8;
  border-radius: 5px;
}

.navigation-wrap .nav-item {
  padding: 5px 0;
}

.navbar-toggler {
  border: 2px solid #795548;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler i {
  color: #795548;
  font-size: 27px;
}

.navbar-nav {
  text-align: center;
}

.btn-reservar {
  background-color: #3a6531;
  color: #dcedc8;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-reservar:hover {
  background-color: #2d4f28;
  color: #dcedc8;
}

.btn-reservar:focus {
  outline: none;
}

.dropdown-menu {
  background-color: #fbfff4;
  border: none;
}

.banner-section {
  width: 100%;
  height: 85vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-blend-mode: overlay;
}

.logo1 {
  border-radius: 30%;
  max-height: 125px;
}

.titulo {
  font-size: 3.5rem;
  color: #3a6531;
  margin-top: 150px auto;
}
.texto {
  font-size: 1.3rem;
  color: #795548;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

video#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

/* Footer  */
#footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  color: #3a6531;
  text-align: center;
  background-color: #8bc34a;
}

/* scrolltop*/
.goto-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 90px;
  height: 90px;
}

/* Boton Whats app*/
.whatsapp-button {
  position: fixed;
  bottom: 40px;
  left: 20px;
  background-color: #25d366;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1ebc59;
}

.whatsapp-button img {
  width: 30px;
  height: 30px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .footer {
    position: relative;
    font-size: 14px;
  }

  .logo1 {
    max-height: 100px;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-toggler {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #3a6531;
  }

  .navbar-collapse {
    justify-content: center !important;
    margin-top: 10px;
  }

  .nav-item a {
    font-size: 16px;
  }

  .banner-section {
    height: 50vh;
    padding: 0 10px;
  }

  .goto-top {
    width: 60px;
    height: 60px;
  }

  .whatsapp-button {
    width: 50px;
    height: 50px;
  }

  .whatsapp-button img {
    width: 20px;
    height: 20px;
  }
}

.searchInput {
  width: 80%;
  background-color: transparent;
  border: 2px solid #fbfff4;
  outline: none;
  padding: 5px 15px;
  color: #795548;
  border-radius: 5px;
  border-right: none;
}
.searchInput::placeholder {
  color: #fbfff4;
  font-size: 1.2rem;
}
.searchIcon {
  border-radius: 0 5px 5px 0;
  border-left: none;
  border-right: 2px solid #fbfff4;
}
.searchIcon i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}
.input-group {
  margin-bottom: 20px;
  border-radius: 5px;
}
.form-control:focus {
  color: #795548;
  background-color: transparent;
  border-color: #fbfff4;
  outline: 0;
  box-shadow: none;
}
.resultado {
  color: #795548;
}

.card {
  border: 1px solid #fbfff4;
  border-radius: 5px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.card-text {
  color: #3a6531;
}

/*componente Model Viewer*/

model-viewer {
  width: 800px; /*manipula el tamaño*/
  height: 600px;
  display: block;
  margin: -200px auto;
}

/* celulares viejos */

@media (min-width: 320px) and (max-width: 480px) {
  model-viewer {
    display: flex;
    align-self: center;
    width: 100% !important;
  }

  footer {
    position: fixed;
  }
}

/* Extra Small devices (landscape phones, 576px and down)*/

@media (max-width: 576px) {
  model-viewer {
    display: flex;
    align-self: center;
  }

  footer {
    position: fixed;
  }
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
  footer {
    position: fixed;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  footer {
    position: relative;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  footer {
    position: fixed;
  }
}
