body {
  background-color: #fbfff4;
  margin: 0;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

nav.navbar {
  z-index: 99;
}

.navbar {
  background-color: #006691;
}

.nav-link {
  color: #00f9fb;
}

.fondo {
  background-color: #dcedc8;
  text-align: justify;
}

.cursor {
  cursor: pointer;
}

img {
  width: 100%;
}

map {
  max-width: 100%;
}

h2,
p {
  color: #795548;
}

#footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #00f9fb;
  text-align: center;
  background-color: #006691;
}
