body {
  background-color: #fbfff4;
  margin: 0;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

nav.navbar {
  z-index: 99;
}

.navbar {
  background-color: #006691;
}

.nav-link {
  color: #00f9fb;
}

.container-fluid1 {
  margin-top: 200px;
}

.btn {
  margin-right: 10px;
}

.form-row {
  align-items: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group label {
  flex: 0 0 200px;
  margin-bottom: 0;
}

.form-group input {
  flex: 1;
}

.calculo-box {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
  margin-bottom: 20px;
}

.calculo-box h2 {
  margin-top: 0;
}

#footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #00f9fb;
  text-align: center;
  background-color: #006691;
}
